@config "../tailwind.config.js";
@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "./quill.snow.css";

.blur-adult {
  filter: blur(8px);
  transition: filter 0.3s ease;
}

.novel-card:hover .blur-adult {
  filter: blur(0);
}